 div{
    display: inline-block;
    width: 1000px;
    height: 150px;
    
    

 }
 
 #span1{
    border: 1px solid black;
    display: inline-block;
    width: 300px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: wheat;
    
    
    
    


}
#span2{
    border: 1px solid black;
    display: inline-block;
    width: 300px;
    margin-left: 20px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: grey;
    
}